[package]
name = "mqttwrk"
description = "Wrk inspired tool for scale and performance testing mqtt brokers"
version = "0.1.0"
license = "Apache-2.0"
authors = ["tekjar <raviteja@bytebeam.io>"]
edition = "2018"


[dependencies]
rumqttc = "0.0.4"
tokio = { version = "0.2", features = ["full"] }
pretty_env_logger = "0.4"
rand = "0.7"
argh = "0.1"
