[package]
name = "mqttwrk"
description = "Wrk inspired tool for scale and performance testing mqtt brokers"
version = "0.1.0"
license = "Apache-2.0"
authors = ["tekjar <raviteja@bytebeam.io>"]
edition = "2018"


[dependencies]
rumqttc = {git="https://github.com/bytebeamio/rumqtt.git", branch="master"}
tokio = { version = "0.2", features = ["full"] }
rand = "0.7"
argh = "0.1"
futures = "0.3"
log = "0.4"
thiserror = "1"
pretty_env_logger = "0.4"
jemallocator = "0.3.2"
async-channel = "1"
hdrhistogram = "7.1.0"
whoami = "0.9.0"